.introducao-bg {
    background: #000000;
    box-shadow: inset 0 -120px #ffffff;
    color     : #ffffff;
}

.introducao {
    display              : grid;
    gap                  : 0 40px;
    grid-template-columns: 1fr 1fr;
    padding              : 0 20px;
}

.introducao img {
    height    : 100%;
    object-fit: cover;
}

.introducao-conteudo {
    align-self    : flex-end;
    padding-bottom: 200px;
}

.introducao-conteudo h1 {
    font-family  : "Poppins";
    font-size    : 64px;
    font-weight  : 600;
    line-height  : 1.125;
    margin-bottom: 32px;
}

.introducao-conteudo h1 span {
    color: #ffbb00;
}

.introducao-conteudo p {
    color        : #b2b2b2;
    font-family  : "Roboto";
    font-size    : 24px;
    font-weight  : 400;
    line-height  : 1.5;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .introducao h1 {
        font-size: 48px;
    }

    .introducao p {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .introducao-bg {
        background-color: #111111;
        box-shadow      : inset 0 -60px #b2b2b2;
        padding-top     : 40px;
    }

    .introducao {
        grid-template-columns: 1fr;
        gap                  : 32px;
    }

    .introducao-conteudo {
        padding: 0px;
    }

    .introducao h1 {
        font-size    : 32px;
        margin-bottom: 16px;
    }

    .introducao img {
        height: 300px;
        width : 100%;
    }
}