.introducao-bg {
    background: var(--cor-12);
    box-shadow: inset 0 -120px var(--cor-0);
    color     : var(--cor-0);
}

.introducao {
    display              : grid;
    gap                  : 0 40px;
    grid-template-columns: 1fr 1fr;
    padding              : 0 20px;
}

.introducao h1 {
    margin-bottom: 32px;
}

.introducao img {
    height    : 100%;
    object-fit: cover;
}

.introducao-conteudo {
    align-self    : flex-end;
    padding-bottom: 200px;
}

.introducao-conteudo p {
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .introducao-bg {
        background-color: var(--cor-11);
        box-shadow      : inset 0 -60px var(--cor-0);
        padding-top     : 40px;
    }

    .introducao {
        grid-template-columns: 1fr;
        gap                  : 32px;
    }

    .introducao-conteudo {
        padding: 0px;
    }

    .introducao h1 {
        margin-bottom: 16px;
    }

    .introducao img {
        height: 300px;
        width : 100%;
    }
}